@model List<PhoneBook.Models.Person>


<div class="container">
    @ViewBag.Message
    <div>
        <h3>Search for:</h3>
        @using (Html.BeginForm("Result", "Person", FormMethod.Get))
        {
            @Html.TextBox("query")
            <input type="submit" value="search" class="btn btn-default" placeholder="Search" />
        }
    </div>
    <div>
        <table class="table table-hover">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Options
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Email)
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-edit"></i> Edit</a>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("Remove", new { id = item.ID })">Remove <i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            }
        </table>
        <br />
        <a class="btn btn-success btn-sm" href="@Url.Action("Add")"><i class="fa fa-plus"></i> Add</a>
    </div>
</div>
